/*El # indica el id*/
body{
    background-color: #caf0f8;
    font-family: 'Ubuntu', sans-serif;
}
header{
    background-color: gray;
    color: darkred;
    padding: 10px 50px;
    margin: 50px;
    
}

.secciones{
    width: 100%;
    text-align: center;
}

section{
display: inline-block;
margin: 25px;
background-color: #00b4d8;
padding: 25px;
border-radius: 14px;
box-shadow: 5px 5px 15px black;
border: 1px solid gray;
}

.beach{
width: 250px;
height: 150px;
border-radius: 14px;
}

.descripcion{
    width: 250px;
}
/*using google fonts could help us*/
#cuerpo{
    background-color: #90e0ef;
    padding: 20px;
    margin: 0 20px;

}